doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/

        title Ma super carte de visite
        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        h1 Ma super carte de visite

        script( src="assets/js/script.js" )
